<html>
<body>

Hello {{firstname}},

 
<br><br>
Hope this email finds you well.

<br><br>

My name is Gauransh and I represent <b>Athreva</b>- a regulatory solutions and services company, by overseeing its business development and partnership requirements. Our vision is to bring forth efficiency and cost advantage to the way regulatory operations and services function across the globe, and in turn contribute to constant supply of quality Life Sciences products reaching the end consumer. In pursuit of this vision, we intend to support Pharmaceuticals, and Healthcare & Consumer companies worldwide by being one of their most trusted regulatory consulting partners.

 <br><br>

Being a regulatory service provider, we value the importance of compliance at every level. And when it comes to <b>General Data Protection Regulation (GDPR)</b>, the European Union’s new privacy law, our sole aim is to responsibly handle user data and send emails comprising of our service offerings and recent case studies/ newsletters using clear and concise language.

 <br><br>

We do not intend to spam our contacts or use any unlawful means of handling/ processing/ saving contact data, and as an organization, we agree and fully respect the EU GDPR requirements. 

 <br><br>

In case our correspondence does not align to your organizational requirements, feel free to unsubscribe and we will promptly exclude you from our list of contacts. If, however, our range of regulatory service offerings benefit your organization in any way, we would like to keep you apprised by sending emails/ newsletters on a periodic basis. Do reach out to us in case of any assistance with regulatory affairs services, and I can walk you through our service competencies. 
<br><br>
Looking forward to serving you in the space of Regulatory affairs.
<br><br>

<b>Sincerely,</b>
<br>
<br>
Gauransh Jain
<br>
Email: gauransh.j@athreva.com
<br>
www.athreva.com
</body>
</html>
