<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>
    /* Style to center grid column */
    .col-centered{
        float: none;
        margin: 0 auto;
    }
    
    /* Some custom styles to beautify this example */
    
    .demo-content{
        padding: 25px;
        font-size: 18px;   
    }
</style>
</head>
<body>
    Dear {{firstname}},

 
<br><br>

I trust you are doing well in these current times.

<br><br>

My name is Kush and I represent Athreva, a specialized regulatory consulting and services firm. I would like to take this opportunity to put forth my value proposition for our ARTWORK STUDIO services.
 <br><br>

Our regulatory artwork team has a collective experience of 50+ years working with global Pharmaceutical and Biopharmaceutical companies such as Novartis, GSK, Sandoz, Amgen, Mayne Pharma, Merck, Apotex, Gland Pharma, Fosun Pharma and many more from the US, EU, UK, and India.

 <br><br>

Certified for ISO 9001:2015 (Quality Management) and ISO 27001:2013 (Information Security) from BSI, we can support you with the following-

<br>
<ul>
    <li>Graphic designing for submission mock-ups, launch and commercial artworks</li>
    <li>Proof-reading for submission mock-ups, launch and commercial artworks</li>
    <li>Artwork consulting for preparing SOPs, processes and work instructions</li>
    <li>Creation of identify design/brand book</li>
</ul>

<br>
I earnestly hope my value proposition will be found acceptable to your firm for any potential opportunity. I look forward to hearing from you.
<br><br>
Please feel free to let me know and I would be happy to share our corporate profile and discuss our core competencies with respect to Artwork services with you.
<br><br>

<b>Best regards,</b>
<br>
<br>
<b>Kush Mukherji</b>
<br>
VP, Regulatory Business & Partnership
<br>
Mobile (India): +91 9676333831
<br>
Phone (US): +1-862-282-0260
<br>
Email: <a href="mailto:kush.m@athreva.com">kush.m@athreva.com</a>
<br>
<a href="https://www.athreva.com/">www.athreva.com</a>
<br>
    <div class="container my-3">
        <div class="col-md-12 text-center">
            <a href="https://www.athreva.com/unsubscribe-pharmaceuticals">Unsubscribe</a>
        </div>
    </div>
</body>
</html>