<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>
    /* Style to center grid column */
    .col-centered{
        float: none;
        margin: 0 auto;
    }
    
    /* Some custom styles to beautify this example */
    
    .demo-content{
        padding: 25px;
        font-size: 18px;   
    }
</style>
</head>
<body>
    Hello {{firstname}},

 
<br><br>

I hope that this email finds you well. This is Dr. Sravya, and I lead the Cosmetics division at Athreva- a regulatory solutions and services company.

<br><br>

You must already be aware how all cosmetic product labels must comply with country-specific Health Authority regulations and any violation could lead to receipt of warning letters and re-labeling.

 <br><br>


Athreva can support you in <b>assessing cosmetic product labels</b> with respect to country-specific regulations and suggest necessary updates. We provide services for global markets including the USA, Canada, Australia, New Zealand, India, EU, UK, Singapore, Malaysia, Indonesia, Thailand, Bangladesh, Sri Lanka, South Korea, China, UAE, KSA and more.

 <br><br>

Along with label assessment, Athreva can also provide cost advantageous translation services for your label text as per target markets. Our Artwork and Design team can then update the labels to provide you with final compliant-ready cosmetic labels ready to be placed in the market of your choice.

<br><br>

Does that sound like something you would be interested to explore further? Do let me know if we could connect and discuss common synergies for a mutually beneficial relationship. For any further information, please feel free to contact me.

<br><br>

<b>Best regards,</b>
<br>
<br>
<b>Dr. Sravya Sri Borra</b>
<br>
Team Lead-Regulatory Affairs-Cosmetics
<br>
Phone : +91 9550357857
<br>
Email: <a href="mailto:sravya.b@athreva.com">sravya.b@athreva.com</a>
<br>
<a href="https://cosmetics.athreva.com">cosmetics.athreva.com</a>
<br>
    <div class="container my-3">
        <div class="col-md-12 text-center">
            <a href="https://www.athreva.com/unsubscribe-cosmetics">Unsubscribe</a>
        </div>
    </div>
</body>
</html>